{% extends 'base.html.twig' %}

{% block title %}Groupe{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Groupe</h1>
                <a href="{{ path('groupe_new') }}" class="btn btn-primary btn-sm">Ajouter</a>
            </div>
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Libelé du groupe</th>
                            <th>Code du groupe</th>
                            <th>Division</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for groupe in groupes %}
                        <tr>
                            {% if groupe.divisionid.divisionid | length < 2 %}
                                <td>0{{ groupe.divisionid.divisionid }}{{ groupe.groupeid }}</td>
                            {% else %}
                                <td>{{ groupe.divisionid.divisionid }}{{ groupe.groupeid }}</td>
                            {% endif %}
                            <td>{{ groupe.libgroupe }}</td>
                            <td>{{ groupe.groupecode }}</td>
                            <td>{{ groupe.divisionid }}</td>
                            <td>
                                <a href="{{ path('groupe_show', {'groupeid': groupe.groupeid}) }}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i>Afficher</a>
                                <a href="{{ path('groupe_edit', {'groupeid': groupe.groupeid}) }}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i>Modifier</a>
                                <a href="{{ path('groupe_delete', {'groupeid': groupe.groupeid}) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Supprimer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    {# <a href="{{ path('groupe_new') }}">Ajouter</a> #}
{% endblock %}
