{% extends 'base.html.twig' %}

{% block title %}Groupe{% endblock %}

{% block body %}
    <h1 class="text-center">Groupe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>N°</th>
                <td>{{ groupe.groupeid }}</td>
            </tr>
            <tr>
                <th>Libelé du groupe</th>
                <td>{{ groupe.libgroupe }}</td>
            </tr>
            <tr>
                <th>Code du groupe</th>
                <td>{{ groupe.groupecode }}</td>
            </tr>
            <tr>
                <th>Division</th>
                <td>{{ groupe.divisionid }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('groupe_index') }}">Retour à la liste</a>

    <a href="{{ path('groupe_edit', {'groupeid': groupe.groupeid}) }}" class="btn">Modifier</a>

    {{ include('groupe/_delete_form.html.twig') }}
{% endblock %}
