{% extends 'base.html.twig' %}

{% block title %}Paragraphe index{% endblock %}

{% block body %}
    <h1>Paragraphe index</h1>

    <a href="{{ path('paragraphe_new') }}" class="btn">Ajouter</a>
    <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Libelé du paragraphe</th>
                <th>Code du paragraphe</th>
                <th>Article</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paragraphe in paragraphes %}
            <tr>
                <td>{{ paragraphe.paragrapheid }}</td>
                <td>{{ paragraphe.libparagraphe }}</td>
                <td>{{ paragraphe.paragraphecode }}</td>
                <td>{{ paragraphe.articleid }}</td>
                <td>
                    <a href="{{ path('paragraphe_show', {'paragrapheid': paragraphe.paragrapheid}) }}">Afficher</a>
                    <a href="{{ path('paragraphe_edit', {'paragrapheid': paragraphe.paragrapheid}) }}">Modifier</a>
                    <a href="{{ path('paragraphe_delete', {'paragrapheid': paragraphe.paragrapheid}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('paragraphe_new') }}">Ajouter</a> #}
{% endblock %}
