{% extends 'base.html.twig' %}

{% block title %}Paragraphe{% endblock %}

{% block body %}
    <h1 class="text-center">Affichage du Paragraphe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>N°</th>
                <td>{{ paragraphe.paragrapheid }}</td>
            </tr>
            <tr>
                <th>Libelé du paragraphe</th>
                <td>{{ paragraphe.libparagraphe }}</td>
            </tr>
            <tr>
                <th>Code du paragraphe</th>
                <td>{{ paragraphe.paragraphecode }}</td>
            </tr>
            <tr>
                <th>Article</th>
                <td>{{ paragraphe.articleid }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('paragraphe_index') }}">retour à la liste</a>

    <a href="{{ path('paragraphe_edit', {'paragrapheid': paragraphe.paragrapheid}) }}">modifier</a>

    {{ include('paragraphe/_delete_form.html.twig') }}
{% endblock %}
