{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Inscription</h1>
    <div class="container card p-3 align-items-center">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }} <br>
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }} <br>
            {{ form_row(registrationForm.agreeTerms) }} <br>

            <button type="submit" class="btn btn-secondary btn-sm">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
