{% extends 'base.html.twig' %}

{% block title %}Type de programme{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Type de programme</h1>
                <a href="{{ path('typepgram_new') }}" class="btn btn-primary btn-sm">Ajouter</a>
            </div>
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Libelé du type de programme</th>
                            <th>Code du type de programme</th>
                            <th>Programme</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for typepgram in typepgrams %}
                        <tr>
                            <td>{{ typepgram.typepgramid }}</td>
                            <td>{{ typepgram.libtypepgram }}</td>
                            <td>{{ typepgram.typepgramcode }}</td>
                            <td>{{ typepgram.programmeid }}</td>
                            <td>
                                <a href="{{ path('typepgram_show', {'typepgramid': typepgram.typepgramid}) }}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i>Afficher</a>
                                <a href="{{ path('typepgram_edit', {'typepgramid': typepgram.typepgramid}) }}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i>Modifier</a>
                                <a href="{{ path('typepgram_delete', {'typepgramid': typepgram.typepgramid}) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Supprimer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    {# <a href="{{ path('typepgram_new') }}">Ajouter</a> #}
{% endblock %}
