{% extends 'base.html.twig' %}

{% block title %}Typepgram{% endblock %}

{% block body %}
    <h1>Typepgram</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>N°</th>
                <td>{{ typepgram.typepgramid }}</td>
            </tr>
            <tr>
                <th>Libelé du type de programme</th>
                <td>{{ typepgram.libtypepgram }}</td>
            </tr>
            <tr>
                <th>Code du type de programme</th>
                <td>{{ typepgram.typepgramcode }}</td>
            </tr>
            <tr>
                <th>Programme</th>
                <td>{{ typepgram.programmeid }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('typepgram_index') }}">retour à la liste</a>

    <a href="{{ path('typepgram_edit', {'typepgramid': typepgram.typepgramid}) }}">modifier</a>

    {{ include('typepgram/_delete_form.html.twig') }}
{% endblock %}
