{% extends 'base.html.twig' %}

{% block title %}Type de budget{% endblock %}

{% block body %}
    <h1 class="text-center">Affichage du Type de budget</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>N°</th>
                <td>{{ typebudget.typebudgetid }}</td>
            </tr>
            <tr>
                <th>Libelé du Type de budget</th>
                <td>{{ typebudget.libtypebudget }}</td>
            </tr>
            <tr>
                <th>Code du Type de budget</th>
                <td>{{ typebudget.typebudgetcode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('typebudget_index') }}" class="btn">Retour à la liste</a>

    <a href="{{ path('typebudget_edit', {'typebudgetid': typebudget.typebudgetid}) }}" class="btn">Modifier</a>

    {{ include('typebudget/_delete_form.html.twig') }}
{% endblock %}
