{% extends 'base.html.twig' %}

{% block title %}Classe{% endblock %}

{% block body %}
    <h1>Classe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>N°</th>
                <td>{{ classe.classeid }}</td>
            </tr>
            <tr>
                <th>Libelé de la classe</th>
                <td>{{ classe.libclasse }}</td>
            </tr>
            <tr>
                <th>Code de la classe</th>
                <td>{{ classe.classecode }}</td>
            </tr>
            <tr>
                <th>Groupe</th>
                <td>{{ classe.groupeid }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('classe_index') }}">retour à la liste</a>

    <a href="{{ path('classe_edit', {'classeid': classe.classeid}) }}">modifier</a>

    {{ include('classe/_delete_form.html.twig') }}
{% endblock %}
