{% extends 'base.html.twig' %}

{% block title %}Mandatement{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Mandatement</h1>
                <a href="{{ path('mandat_new') }}" class="btn btn-primary btn-sm">Ajouter</a>
            </div>
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Montant Mandat</th>
                            <th>N° projet de mandatement</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for mandat in mandats %}
                        <tr>
                            <td>{{ mandat.numMandat }}</td>
                            <td>{{ mandat.montantMandat }}</td>
                            <td>{{ mandat.numProjet }}</td>
                            <td>
                                <a href="{{ path('mandat_show', {'numMandat': mandat.numMandat}) }}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i>Afficher</a>
                                <a href="{{ path('mandat_edit', {'numMandat': mandat.numMandat}) }}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i>Modifier</a>
                                <a href="{{ path('mandat_delete', {'numMandat': mandat.numMandat}) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Supprimer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    {# <a href="{{ path('mandat_new') }}">Ajouter</a> #}
{% endblock %}
