{% extends 'base.html.twig' %}

{% block title %}Mandatement{% endblock %}

{% block body %}<br>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header" style="background: #FFE4C4;">
                <h4>Les Mandatements déja en</h4>
            </div><br>
            <div>
                <a href="{{ path('mandat_new') }}" class="btn btn-primary btn-sm">Ajouter</a>
            </div><br>
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap align-items-center">
                    <thead class="floating-header entete" style="background: #C0C0C0;">
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Montant Mandat</th>
                            <th class="text-center">N° projet de mandatement</th>
                            <th class="text-center">Opérations</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for mandat in mandats %}
                        <tr>
                            <td class="text-center">{{ mandat.numMandat }}</td>
                            <td class="text-center">{{ mandat.montantMandat }}</td>
                            <td class="text-center">{{ mandat.numProjet }}</td>
                            <td class="text-center">
                                <a href="{{ path('mandat_show', {'numMandat': mandat.numMandat}) }}"><i class="fa fa-eye"></i></a>
                                <a href="{{ path('mandat_edit', {'numMandat': mandat.numMandat}) }}"><i class="fa fa-edit"></i></a>
                                <a href="{{ path('mandat_delete', {'numMandat': mandat.numMandat}) }}"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    {# <a href="{{ path('mandat_new') }}">Ajouter</a> #}
{% endblock %}
