{% extends 'base.html.twig' %}

{% block title %}Division index{% endblock %}

{% block body %}
    <h1>Division index</h1>

    <a href="{{ path('division_new') }}" class="btn">Ajouter</a>
    <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Libelé de la division</th>
                <th>Code de la division</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for division in divisions %}
            <tr>
                <td>{{ division.divisionid }}</td>
                <td>{{ division.libdivision }}</td>
                <td>{{ division.divisioncode }}</td>
                <td>
                    <a href="{{ path('division_show', {'divisionid': division.divisionid}) }}">Afficher</a>
                    <a href="{{ path('division_edit', {'divisionid': division.divisionid}) }}">Modifier</a>
                    <a href="{{ path('division_delete', {'divisionid': division.divisionid}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('division_new') }}">Créer un nouveau</a> #}
{% endblock %}
