{% extends 'base.html.twig' %}

{% block title %}Division{% endblock %}

{% block body %}<br>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header" style="background: #FFE4C4;">
                <h4>Les Divisions déja enregistrer</h4>
            </div><br>
            <div>
                <a href="{{ path('division_new') }}" class="btn btn-primary btn-sm">Ajouter</a>
            </div><br>
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead class="floating-header entete" style="background: #C0C0C0;">
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Libelé de la division</th>
                            <th class="text-center">Code de la division</th>
                            <th class="text-center">Opérations</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for division in divisions %}
                        <tr>
                            {% if division.divisionid | length < 2 %}
                                <td class="text-center">0{{ division.divisionid }}</td>
                            {% else %}
                                <td class="text-center">{{ division.divisionid }}</td>
                            {% endif %}
                            
                            {# {% division.divisionid | length = int %}
                            {% switch  int %}
                            
                                {% case "int < 3" %}
                                    <td>00{{ division.divisionid }}</td>
                            
                                {% case "int < 2" %}
                                    <td>0{{ division.divisionid }}</td>
                            
                                {% default %}
                                
                            
                            {% endswitch %} #}
                            
                            <td class="text-center">{{ division.libdivision }}</td>
                            <td class="text-center">{{ division.divisioncode }}</td>
                            <td class="text-center">
                                <a href="{{ path('division_show', {'divisionid': division.divisionid}) }}"><i class="fa fa-eye"></i></a>
                                <a href="{{ path('division_edit', {'divisionid': division.divisionid}) }}"><i class="fa fa-edit"></i></a>
                                <a href="{{ path('division_delete', {'divisionid': division.divisionid}) }}"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    {# <a href="{{ path('division_new') }}">Créer un nouveau</a> #}
{% endblock %}
