{% extends 'base.html.twig' %}

{% block title %}Action index{% endblock %}

{% block body %}
    <h1>Action</h1>

    <a href="{{ path('action_new') }}" class="btn">Ajouter</a>
    <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Code de l'action</th>
                <th>Libelé de action</th>
                <th>Programme</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for action in actions %}
            <tr>programmeid
                <td>{{ action.actionid }}</td>
                <td>{{ action.actioncode }}</td>
                <td>{{ action.libaction }}</td>
                <td>{{ action.programmeid }}</td>
                <td>
                    <a href="{{ path('action_show', {'actionid': action.actionid}) }}" class="btn">Afficher</a>
                    <a href="{{ path('action_edit', {'actionid': action.actionid}) }}" class="btn">Modifier</a>
                    <a href="{{ path('action_delete', {'actionid': action.actionid}) }}" class="btn">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('action_new') }}">Ajouter</a> #}
{% endblock %}
