{% extends 'base.html.twig' %}

{% block title %}Département{% endblock %}

{% block body %}<br>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header" style="background: #FFE4C4;">
                <h4>Les Départements déja enregistrer</h4>
            </div><br>
            <div>
                <a href="{{ path('departement_new') }}" class="btn btn-primary btn-sm">Ajouter</a>
            </div><br>
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap align-items-center">
                    <thead class="floating-header entete" style="background: #C0C0C0;">
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Libelé du département</th>
                            <th class="text-center">Code du département</th>
                            <th class="text-center">Région</th>
                            <th class="text-center">Opérations</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for departement in departements %}
                        <tr>
                            {% if departement.regionid.regionid | length < 2 and departement.depid | length < 2 %}
                                <td class="text-center">0{{ departement.regionid.regionid }}0{{ departement.depid }}</td>
                            {% elseif departement.depid | length < 2 %}
                                <td class="text-center">{{ departement.regionid.regionid }}0{{ departement.depid }}</td>
                            {% elseif departement.regionid.regionid | length < 2 %}
                                <td class="text-center">0{{ departement.regionid.regionid }}{{ departement.depid }}</td>
                            {% else %}
                                <td class="text-center">{{ departement.regionid.regionid }}{{ departement.depid }}</td>
                            {% endif %}
                            <td class="text-center">{{ departement.libdep }}</td>
                            <td class="text-center">{{ departement.depcode }}</td>
                            <td class="text-center">{{ departement.regionid }}</td>
                            <td class="text-center">
                                <a href="{{ path('departement_show', {'depid': departement.depid}) }}"><i class="fa fa-eye"></i></a>
                                <a href="{{ path('departement_edit', {'depid': departement.depid}) }}"><i class="fa fa-edit"></i></a>
                                <a href="{{ path('departement_delete', {'depid': departement.depid}) }}"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    {# <a href="{{ path('departement_new') }}">Créer un nouveau</a> #}
{% endblock %}
