{% extends 'base.html.twig' %}

{% block title %}Champ de compétence{% endblock %}

{% block body %}
    <h1 class="text-center">Champ de compétence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>N°</th>
                <td>{{ champcompetence.competenceid }}</td>
            </tr>
            <tr>
                <th>Libelé du champ de compétence</th>
                <td>{{ champcompetence.libcompetence }}</td>
            </tr>
            <tr>
                <th>Code du champ de compétence</th>
                <td>{{ champcompetence.competencecode }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ champcompetence.communeid }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('champcompetence_index') }}" class="btn btn-secondary btn-sm">retour à la liste</a>

    <a href="{{ path('champcompetence_edit', {'competenceid': champcompetence.competenceid}) }}">modifier</a>

    {{ include('champcompetence/_delete_form.html.twig') }}
{% endblock %}
