
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        {% endblock %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {# fixed-top #}
        <div class="container-fluid">
            {# <a class="navbar-brand" href="#">Navbar</a> #}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
                </li>
                {# <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
                </li> #}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tables Budgétaires
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ path('action_index') }}">Action</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('article_index') }}">Article</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('budgetisation_index') }}">Budgetisation</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('catservice_index') }}">Catégorie de service</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('champcompetence_index') }}">Champ de compétence</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('classe_index') }}">Classe</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('commune_index') }}">Commune</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('departement_index') }}">Département</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('division_index') }}">Division</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('exercice_index') }}">Exercice</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('groupe_index') }}">Groupe</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('mandat_index') }}">Mandat</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('misbudget_index') }}">Mission budgétaire</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('misetat_index') }}">Mission d'état</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('paragraphe_index') }}">Paragraphe</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('piece_justificative_index') }}">Piece Justificative</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('programme_index') }}">Programme</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('region_index') }}">Région</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('rubrique_index') }}">Rubrique</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('typebudget_index') }}">Type de budget</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('typepgram_index') }}">Type de programme</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('typeservice_index') }}">Type de service</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('typeunite_index') }}">Type d'unité</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('uniteadmin_index') }}">Unité Administrative</a></li> 
                    {# <li><hr class="dropdown-divider"></li> #}
                    {# <li><a class="dropdown-item" href="#">Something else here</a></li> #}
                </ul>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Engagement
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('demande_engagement_index') }}">Demande d'engagement</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('engagement_index') }}">Engagement</a></li>
                    {# <li><hr class="dropdown-divider"></li> #}
                    {# <li><a class="dropdown-item" href="#">Something else here</a></li> #}
                </ul>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mandatement
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('mandat_index') }}">Mandatement</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('piece_justificative_index') }}">Pièce Justificative</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="{{ path('projet_mandat_index') }}">Projet de Mandatement</a></li>
                    {# <li><hr class="dropdown-divider"></li> #}
                    {# <li><a class="dropdown-item" href="#">Something else here</a></li> #}
                </ul>
                </li>
                <li class="nav-item">
                {# <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> #}
                </li>
                </ul>
                </li>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
        </div>
        </nav>
    </head>
    <body>
    
        {% block body %}{% endblock %}
    </body>
</html>
