{% extends 'base.html.twig' %}

{% block title %}Rubrique{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Rubrique</h1>
                <a href="{{ path('rubrique_new') }}" class="btn btn-primary btn-sm">Ajouter</a>
            </div>
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Libelé de la rubrique</th>
                            <th>Code de la rubrique</th>
                            <th>Paragraphe</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for rubrique in rubriques %}
                        <tr>
                            {% if rubrique.paragrapheid.articleid.articleid | length < 2 %}
                                <td>0{{ rubrique.paragrapheid.articleid.articleid }}{{ rubrique.paragrapheid.paragrapheid }}{{ rubrique.rubriqueid }}</td>
                            {% else %}
                                <td>{{ rubrique.paragrapheid.articleid.articleid }}{{ rubrique.paragrapheid.paragrapheid }}{{ rubrique.rubriqueid }}</td>
                            {% endif %}
                            <td>{{ rubrique.librubrique }}</td>
                            <td>{{ rubrique.rubriquecode }}</td>
                            <td>{{ rubrique.paragrapheid }}</td>
                            <td>
                                <a href="{{ path('rubrique_show', {'rubriqueid': rubrique.rubriqueid}) }}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i>Afficher</a>
                                <a href="{{ path('rubrique_edit', {'rubriqueid': rubrique.rubriqueid}) }}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i>Modifier</a>
                                <a href="{{ path('rubrique_delete', {'rubriqueid': rubrique.rubriqueid}) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Supprimer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    {# <a href="{{ path('rubrique_new') }}">Ajouter</a> #}
{% endblock %}
