{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}<br>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header" style="background: #FFE4C4;">
                <h4>Les Articles déja enregistrer</h4>
            </div><br>
            <div>
                <a href="{{ path('article_new') }}" class="btn btn-primary btn-sm">Ajouter</a>
            </div><br>
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap align-items-center">
                    <thead class="floating-header entete" style="background: #C0C0C0;">
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Libelé de l'article</th>
                            <th class="text-center">Code de l'article</th>
                            <th class="text-center">Opérations</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        <tr>
                        {% if (article.articleid | length < 2) %}
                            <td class="text-center">
                            0{{ article.articleid }}
                            </td class="text-center">
                        {% else %}
                            <td class="text-center">
                            {{ article.articleid }}
                            </td>
                        {% endif %}
                            <td class="text-center">{{ article.libarticle }}</td>
                            <td class="text-center">{{ article.articlecode }}</td>
                            <td class="text-center">
                                <a href="{{ path('article_show', {'articleid': article.articleid}) }}"><i class="fa fa-eye"></i></a>
                                <a href="{{ path('article_edit', {'articleid': article.articleid}) }}"><i class="fa fa-edit"></i></a>
                                <a href="{{ path('article_delete', {'articleid': article.articleid}) }}"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</div>
    {# <a href="{{ path('article_new') }}">Ajouter</a> #}
{% endblock %}
