{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1 class="text-center">Affichage d'un article</h1>
    <div class="card p-3 align-items-center">
        <table class="table align-items-center">
            <tbody>
                <tr>
                    <th>N°</th>
                    <td>{{ article.articleid }}</td>
                </tr>
                <tr>
                    <th>Libelé de l'article</th>
                    <td>{{ article.libarticle }}</td>
                </tr>
                <tr>
                    <th>Code de l'article</th>
                    <td>{{ article.articlecode }}</td>
                </tr>
            </tbody>
        </table>
    </div>
        <a href="{{ path('article_index') }}" class="btn btn-secondary btn-sm">retour à la liste</a>

        <a href="{{ path('article_edit', {'articleid': article.articleid}) }}" class="btn btn-secondary btn-sm">Modifier</a><br><br>

        {{ include('article/_delete_form.html.twig') }}
    
{% endblock %}
